.MyTopBar {
    width: 100vw;
    height: 130px;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    color: #fff;
}
.MyTopBar a {
    grid-column: span 1;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
}
.MyTopBar a:hover {
    text-decoration: underline;
}
.Logo {
    grid-column: span 9;
    padding: 0rem 6rem;
    font-weight: bold;
    font-size: 3.5rem;
}
.Logo img {
    min-width: 120px;
    min-height: 120px;
}
/* Responsive styles for smaller screens */
@media (max-width: 1024px) {
    .MyTopBar {
        height: 90px;
        grid-template-columns: repeat(12, 1fr);
        padding: 0 6px;
        font-size: 0.9rem;
    }
    .MyTopBar a {
        grid-column: span 2;
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    .Logo {
        grid-column: span 6;
        padding: 0 2rem;
        font-size: 3.5rem;
    }
}
/* Responsive styles for smaller screens */
@media (max-width: 720px) {
    .MyTopBar {
        height: 90px;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 6px;
        font-size: 0.9rem;
    }
    .MyTopBar a {
        display: none;
        grid-column: span 2;
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    .Logo {
        grid-column: span 12;
        padding: 0 2rem;
        font-size: 3.5rem;
        text-align: center;
    }
}
