.Container{
    min-width: 120px;
    max-width: 1980px;
    min-height: 70vh;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    align-items: start;
    align-items: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    background: rgba(255, 255, 255, 0.2); /* Slightly transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    gap: 20px; /* Space between cards */
}

.Container .Card{
    grid-column: span 4;
}
@media (max-width: 1028px) {
    .Card{
    grid-column: span 6;
}
    .Container {
        min-width: 100vw;
    }
}
@media (max-width: 468px) {
    .Card{
    grid-column: span 12;
}
    .Container{
        min-width: 70vw;
    }
}