:root{
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --hero: linear-gradient(180deg, #77adcc  5%,#59a3c0  100%);
    --font-family: 'Gill Sans Ultra Bold', 'Poppins Rounded', 'Poppins', Arial, sans-serif;
    --background-gradient: linear-gradient(180deg, #56b1d4 5%, #df7edf 100%);
    --text-color: #dfffff;
}
body {

    font-family: var(--font-family);
    color: var(--text-color);
    background: var(--background-gradient);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: start; 
    
}