.MyTopBar {
    height: 130px;
    padding: 1rem 3rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    color: #fff;
}
.MyTopBar a {
    text-align: center;
    grid-column: span 1;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
    margin-right: 2fr; /* Remove left margin */
}
.MyTopBar a:hover {
    text-decoration: underline;
}
.Logo {
    grid-column: span 9;

    font-weight: bold;
    font-size: 4.5rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 1024px) {
    .MyTopBar {
        height: 90px;
        padding: 0 4rem;
        font-size: 0.9rem;
    }
    .MyTopBar a {
        grid-column: span 2;
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    .Logo {
        grid-column: span 6;
        padding: 0 2rem;
        font-size: 3.5rem;
    }
}
/* Responsive styles for smaller screens */
@media (max-width: 720px) {
    .MyTopBar {
        font-size: 0.9rem;
    }
    .MyTopBar a {
        display: none;
        grid-column: span 2;
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    .Logo {
        grid-column: span 12;
        padding: 0 2rem;
        font-size: 3.5rem;
        text-align: center;
    }
}
